<div class="row">
  <div class="col-sm-2 form-group">
    <p>{{monthPayment.number}}</p>
  </div>
  <div class="col-sm-2 form-group">
    <p>{{monthPayment.persentegesPyment}}</p>
  </div>
  <div class="col-sm-2 form-group">
    <p>{{monthPayment.debitPayment}}</p>
  </div>
  <div class="col-sm-3 form-group">
    <input class="form-control" (change)="console.log(monthPayment.payment)" type="number" [(ngModel)]="monthPayment.payment">
  </div>
  <div class="col-sm-3 form-group">
    <p>{{monthPayment.debit}}</p>
  </div>
</div>
